body {
    background: url(../../images/bg.jpg) no-repeat center center fixed;
    @include background-size(cover);
    width: 100%;
    height: 100%
}
.pad-top15 {padding-top:15px}
.pad-top20 {padding-top:20px}

.margin-top10 {margin-top:10px !important}
.margin-top15 {margin-top:15px !important}
.margin-top20 {margin-top:20px !important}
.modal-backdrop.in {
    opacity: 0.9
}

.zero { margin:0; padding:0;}

.pointer { cursor:pointer;}
 .selectOption{
		 padding: 8px 10px !important;
		 min-height: 46px !important;
		 }

.btn,
.form-control {
    @include border-radius(0px);
}

.form-control {
    padding: 20px 10px;
}

.btn-primary {
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary;
}

header {
    .top {
        color: $accent-1;
        background: url(../../images/trans-bg.png);
        padding: 20px 10px 10px 10px;
        a {
            color: $accent-1
        }
        .btn-group>.btn-group {
            float: right;
        }
        .dropdown-menu {
            background: url(../../images/trans-bg-white-dark.png);
            border: 1px solid $accent-4;
            padding: 0;
            @include border-radius(0);
            margin-top: 20px;
            margin-left: -93px;
            li {
                a {
                    color: $accent-4;
                    padding: 10px 10px;
                    &:hover {
                        background: url(../../images/trans-bg-white.png);
                        color: $accent-4
                    }
                }
            }
        }
    }
    .logo {
        margin-top: 30px;
    }
    @media (max-width: 767px) {
        .col-sm-4 {
            text-align: center;
        }
        .logo {
            margin-bottom: 20px;
        }
    }
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0f3153;
    border-color: #333;
}