@import "compass";
@import "partial/_variable.scss";
@import "partial/_reset.scss";
@import "partial/_login.scss";
@import "partial/_landing.scss";
.isgtabwrap {
    padding: 0px 20px 20px 20px;
    .form-control {
        margin-bottom: 25px;
    }
    .row {
        margin-top: 25px;
    }
    .form-control {
        background: url(../images/trans-bg-white-dark.png);
        padding: 22px 15px;
    }
    ::-webkit-input-placeholder {
        color: $accent-5;
        font-style: italic
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: $accent-5;
        font-style: italic
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: $accent-5;
        font-style: italic
    }
    :-ms-input-placeholder {
        color: $accent-5;
        font-style: italic
    }
}

.ISG-Tabs {
    background: url(../images/trans-bg-white-dark.png);
    border-bottom: 0px solid #ddd;
    margin-bottom: 0px;
    @media (min-width: 768px) and (max-width: 979px) {
        display: inline-block;
    }
    @media (max-width: 767px) {
        display: inline-block;
    }
    li {
        margin-bottom: 0px;
		
		 a {
        padding: 10px 25px;
        color: $accent-6;
        font-size: $font-size-x-small;
        @media (max-width: 767px) {
            padding: 10px 13px;
        }
        @media (max-width: 480px) {
            padding: 10px 7px;
        }
    }
		
    }
   
}

.ISG-Tabs>li.active>a,
.ISG-Tabs>li.active>a:focus,
.ISG-Tabs>li.active>a:hover {
    color: $accent-1;
    cursor: default;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    border-bottom-color: transparent;
    @include border-radius(0px)
}

.ISG-Tabs li a .active,
.ISG-Tabs li a .active-first {
    display: none
}

.tab-nav {
    padding-left: 0;
    padding-right: 0;
    margin-top: 30px;
}

.tabContainer {
    background: url(../images/trans-bg-white.png);
    padding-left: 0;
    padding-right: 0;
    margin-top: -7px;
}


/* Large desktop */

@media (min-width: 1200px) {
    .HideOnDesktop {
        display: none !important
    }
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    .HideOnTablate {
        display: none !important
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .HideOnTablate {
        display: none !important
    }
}


/* Landscape phones and down */

@media (max-width: 480px) {
    .HideOnMobile {
        display: none !important
    }
}